<?xml version='1.0' encoding='utf-8'?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <title>Brain Worms v1.0.0</title>
        <meta name="author" content="Adam Glenn"/>
        <style>
            .noindent { text-indent: 0px !important; }
            .chapternumber { display: block; padding-top: 5em; font-size: 1rem; text-transform: uppercase; letter-spacing: 1px; }
        </style>
    </head>
    <body class="book-body">

        <h1 class="chapter-title" id="chapter-1">Brain Worms: How Right-Wing Propaganda Destroys Reason, Conscience, and Democracy</h1>
        <noindent class="noindent">Adam Glenn</noindent>

        <h1 class="chapter-title" id="chapter-2">Copyright</h1>
        <noindent class="noindent">Brain Worms: How Right-Wing Propaganda Destroys Reason, Conscience, and Democracy<br>Copyright © 2021 by Adam Glenn. All rights reserved.<br>Published by Adam Glenn / A.G. Press<br>ISBN 978-1-716-03968-3</noindent>

        <h1 class="chapter-title" id="chapter-3">Contents</h1>
        <p class="noindent"><a href='brain-worms_split_003.html'>Introduction</a></p>
        <ol>
            <li><a href='brain-worms_split_004.html'>Conservatism</a></li>
            <li><a href='brain-worms_split_005.html'>Classical Liberalism</a></li>
            <li><a href='brain-worms_split_006.html'>Constitutionalism</a></li>
            <li><a href='brain-worms_split_007.html'>Capitalism</a></li>
            <li><a href='brain-worms_split_008.html'>Economics 101</a></li>
            <li><a href='brain-worms_split_009.html'>Personal Responsibility</a></li>
            <li><a href='brain-worms_split_010.html'>The Party of Lincoln</a></li>
            <li><a href='brain-worms_split_011.html'>The PC Thought Police</a></li>
        </ol>
        <noindent class="noindent"><a href='brain-worms_split_012.html'>Notes</a></noindent>

        {% assign pageArray = 'introduction,conservatism,classical-liberalism,constitutionalism,capitalism,economics-101,personal-responsibility,the-party-of-lincoln,the-pc-thought-police' | split: ',' %}

        {% assign i = 0 %}
        {% assign chapter = 4 %}
        {% assign chapterNumber = 0 %}

        {% for page in pageArray %}
            {% for post in site.posts %}
                {% if post.category == pageArray[i] %}
                    
                    <h1 class="chapter-title" id="chapter-{{ chapter }}">
                        {% if chapterNumber >= 1 and chapterNumber <= 8 %}
                            <chapternumber class="chapternumber">Chapter {{ chapterNumber }}</chapternumber>
                        {% endif %}
                        {{ post.title }}
                    </h1>
                    
                    {% capture footnoteID %}fn{{ post.category }}-chapter{% endcapture %}
                    
                    {% capture footnoteRef %}brain-worms_split_012.html#fn{{ post.category }}{% endcapture %}
                    
                    {%- capture postContent -%}
                        {{ post.content | replace: 'fnref', footnoteID | replace: '#fn', footnoteRef | replace_first: '<p>', '<noindent class="noindent">' | replace_first: '</p>', '</noindent>' | replace: '<a ', '<a epub:type="noteref" ' | strip_newlines }}
                    {%- endcapture -%}

                    {% assign postArray = postContent | split: '</h2><p>' %}

                    {% assign postLength = postArray.size | minus: 1 %}

                    {% for j in (0..postLength) %}
                        {%- if j > 0 -%}
                            {{ postArray[j] | replace_first: '</p>', '</noindent>' }}
                        {%- else -%}
                            {{ postArray[j] }}
                        {%- endif -%}
                        {%- if j < postLength -%}
                            </h2><noindent class="noindent">
                        {%- endif -%}
                    {% endfor %}
                    
                    {% assign chapter = chapter | plus: 1 %}
                    {% assign chapterNumber = chapterNumber | plus: 1 %}
                
                {% endif %}
            {% endfor %}
            {% assign i = i | plus: 1 %}
        {% endfor %}

        {% assign i = 1 %}
        {% assign f = 4 %}

        <h1 class="chapter-title" id="chapter-13">Notes</h1>
        {% for page in pageArray %}
            {% for post in site.posts %}
                {% if post.category == pageArray[i] %}
                    {% assign j = 1 %}
                    {%- if f < 10 %}
                        {% capture fn %}00{{ f }}{% endcapture %}
                    {% else %}
                        {% capture fn %}0{{ f }}{% endcapture %}
                    {% endif %}
                    <h2>{{ post.category | replace: '-', ' ' | upcase }}</h2>
                    <ol>
                        {% for footnote in post.footnotes %}
                            <li>
                                <aside epub:type="footnote" id="fn{{ post.category }}{{ j }}">
                                    {% capture cleanFootnote %}{{ footnote | replace: '<em>', '__em__' | replace: '</em>', '__/em__' | strip_html }}{% endcapture %}
                                    {{ cleanFootnote | replace: '__em__', '<em>' | replace: '__/em__', '</em>' }} <a href="brain-worms_split_{{ fn }}.html#fn{{ post.category }}-chapter{{ j }}">^</a>
                                </aside>
                            </li>
                            {% assign j = j | plus: 1 %}
                        {% endfor %}
                    </ol>
                    {% assign f = f | plus: 1 %}
                {% endif %}
            {% endfor %}
            {% assign i = i | plus: 1 %}
        {% endfor %}
    </body>
</html>